# Mini-Project: Data Wrangling and Transformation with Pandas

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
pd.__version__

'1.3.4'

In [7]:
movies = pd.read_csv('Documents/GitHub/Machine_learning/mec-mini-projects/mec-5.3.10-data-wranging-with-pandas-mini-project/titles.csv')

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244914 entries, 0 to 244913
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   244914 non-null  object
 1   year    244914 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [9]:
movies.head()

                                          title  year
0                        The Ticket to the Life  2009
1  Parallel Worlds: A New Rock Music Experience  2016
2                     Morita - La hija de Jesus  2008
3                                           Gun  2017
4                        Love or Nothing at All  2014

In [14]:
cast = pd.read_csv('Documents/GitHub/Machine_learning/mec-mini-projects/mec-5.3.10-data-wranging-with-pandas-mini-project/cast.csv.zip')
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786176 entries, 0 to 3786175
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 173.3+ MB

In [71]:
cast.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

In [18]:
release_dates = pd.read_csv('Documents/GitHub/Machine_learning/mec-mini-projects/mec-5.3.10-data-wranging-with-pandas-mini-project/release_dates.csv', parse_dates=['date'], infer_datetime_format=True)
release_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479488 entries, 0 to 479487
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   title    479488 non-null  object
 1   year     479488 non-null  int64
 2   country  479488 non-null  object
 3   date     479488 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 14.6+ MB

In [19]:
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                   #BKKY  2016     Cambodia 2017-10-12
2                 #Beings  2015      Romania 2015-01-29
3               #Captured  2017          USA 2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21

In [20]:
len(movies)

244914

In [21]:
batman_df = movies[movies.title == 'Batman']
print('Total Batman Movies: ', len(batman_df))
batman_df

Total Batman Movies:  2

         title  year
52734   Batman  1943
150621  Batman  1989

In [119]:
batman_df = movies[movies.title.str.contains('Batman', case=False)]
print('Total Batman Movies ', len(batman_df))
batman_df.head(5)

Total Batman Movies  35

                                             title  year
16813                              Batman: Anarchy  2016
30236                               Batman Forever  1995
31674                                Batman Untold  2010
31711  Scooby-Doo & Batman: the Brave and the Bold  2018
41881                  Batman the Rise of Red Hood  2018

In [26]:
batman_df.sort_values(by=['year'], ascending=True).iloc[:15]

                               title  year
52734                         Batman  1943
100056              Batman and Robin  1949
161439                Batman Dracula  1964
84327          Alyas Batman at Robin  1965
68364                   James Batman  1966
161527             Batman: The Movie  1966
56159          Batman Fights Dracula  1967
168504         Fight! Batman, Fight!  1973
150621                        Batman  1989
156239         Alyas Batman en Robin  1991
156755                Batman Returns  1992
63366   Batman: Mask of the Phantasm  1993
30236                 Batman Forever  1995
46333                 Batman & Robin  1997
208220                 Batman Begins  2005

# Section I - Q1 : List all the 'Harry Potter' movies from the most recent to the earliest

In [31]:
 harry_potter = movies[movies.title.str.contains('Harry Potter', case=False)]
 harry_potter.sort_values(by=['year'], ascending=False)

                                               title  year
143147  Harry Potter and the Deathly Hallows: Part 2  2011
152831  Harry Potter and the Deathly Hallows: Part 1  2010
109213        Harry Potter and the Half-Blood Prince  2009
50581      Harry Potter and the Order of the Phoenix  2007
187926           Harry Potter and the Goblet of Fire  2005
61957       Harry Potter and the Prisoner of Azkaban  2004
82791        Harry Potter and the Chamber of Secrets  2002
223087         Harry Potter and the Sorcerer's Stone  2001

# How many movies were made in the year 2017?

In [32]:
len(movies[movies.year == 2017])

11474

# Section I - Q2 : How many movies were made in the year 2015?

In [33]:
len(movies[movies.year == 2015])

8702

# Section I - Q3 : How many movies were made from 2000 till 2018?

In [61]:
len(movies[(movies.year >= 2000) & (movies.year <=2018) ])

114070

# Section I - Q4: How many movies are titled "Hamlet"?

In [68]:
hamlet_df = movies[movies.title == 'Hamlet']
print('Total Hamlet Movies: ', len(hamlet_df))

Total Hamlet Movies:  20

# Section I - Q5: List all movies titled "Hamlet"

In [67]:
hamlet_after_2000 = hamlet_df[hamlet_df.year >= 2000]
hamlet_after_2000.sort_values(by=['year'], ascending=True)

         title  year
55639   Hamlet  2000
1931    Hamlet  2009
227953  Hamlet  2011
178290  Hamlet  2014
186137  Hamlet  2015
191940  Hamlet  2016
244747  Hamlet  2017

# Section I - Q6: How many roles in the movie "Inception" are of the supporting cast (extra credits)

# Section I - Q7: How many roles in the movie "Inception" are of the main cast

In [108]:
 inception_df = cast[cast.title == 'Inception']
 len(inception_df[inception_df.n > 0])

51

# Section I - Q8: Show the top ten cast (actors\actresses) in the movie "Inception"

In [109]:
inception_df.sort_values(by=['n'], ascending=False).iloc[:10]

,title,year,name,type,character,n
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0

# Section I - Q9:

(A) List all movies where there was a character 'Albus Dumbledore'

In [112]:
cast[cast['character'] == 'Albus Dumbledore']

,title,year,name,type,character,n
704984,Epic Movie,2007,Dane Farwell,actor,Albus Dumbledore,17.0
792421,Harry Potter and the Goblet of Fire,2005,Michael Gambon,actor,Albus Dumbledore,37.0
792423,Harry Potter and the Order of the Phoenix,2007,Michael Gambon,actor,Albus Dumbledore,36.0
792424,Harry Potter and the Prisoner of Azkaban,2004,Michael Gambon,actor,Albus Dumbledore,27.0
947789,Harry Potter and the Chamber of Secrets,2002,Richard Harris,actor,Albus Dumbledore,32.0
947790,Harry Potter and the Sorcerer's Stone,2001,Richard Harris,actor,Albus Dumbledore,1.0
1685537,Ultimate Hero Project,2013,George (X) O'Connor,actor,Albus Dumbledore,NaN
2248085,Potter,2015,Timothy Tedmanson,actor,Albus Dumbledore,NaN

(B) Now modify the above to show only the actors who played the character 'Albus Dumbledore'

In [123]:
ad_characters = cast[cast['character'] == 'Albus Dumbledore']['name'].unique()
print(ad_characters)

['Dane Farwell' 'Michael Gambon' 'Richard Harris' "George (X) O'Connor"
 'Timothy Tedmanson']

# Section I - Q10:
(A) How many roles has 'Keanu Reeves' played throughout his career?

(B) List the leading roles that 'Keanu Reeves' played on or after 1999 in order by year.

In [137]:
keanu_reeves = cast[cast.name == 'Keanu Reeves']
keanu_reeves.head()

,title,year,name,type,character,n
1892342,47 Ronin,2013,Keanu Reeves,actor,Kai,1.0
1892343,A Scanner Darkly,2006,Keanu Reeves,actor,Bob Arctor,4.0
1892344,A Walk in the Clouds,1995,Keanu Reeves,actor,Paul Sutton,1.0
1892345,Bill & Ted's Bogus Journey,1991,Keanu Reeves,actor,Ted,1.0
1892346,Bill & Ted's Excellent Adventure,1989,Keanu Reeves,actor,Ted,1.0

In [138]:
 len(keanu_reeves['character'].unique())

56

In [146]:
kr_leading_roles = keanu_reeves[(keanu_reeves['year'] >= 1999) & keanu_reeves['n'] > 0]

In [147]:
kr_leading_roles.sort_values(by=['year'], ascending=True)

,title,year,name,type,character,n
1892370,Me and Will,1999,Keanu Reeves,actor,Himself,42.0
1892369,Me and Will,1999,Keanu Reeves,actor,Dogstar,42.0
1892390,The Matrix,1999,Keanu Reeves,actor,Neo,1.0
1892398,The Watcher,2000,Keanu Reeves,actor,Griffin,3.0
1892397,The Replacements,2000,Keanu Reeves,actor,Shane Falco,1.0
1892387,The Gift,2000,Keanu Reeves,actor,Donnie Barksdale,3.0
1892383,Sweet November,2001,Keanu Reeves,actor,Nelson Moss,1.0
1892358,Hard Ball,2001,Keanu Reeves,actor,Conor O'Neill,1.0
1892379,Something's Gotta Give,2003,Keanu Reeves,actor,Julian Mercer,3.0
1892391,The Matrix Reloaded,2003,Keanu Reeves,actor,Neo,59.0
1892392,The Matrix Revolutions,2003,Keanu Reeves,actor,Neo,33.0
1892351,Ellie Parker,2005,Keanu Reeves,actor,Dogstar,21.0
1892348,Constantine,2005,Keanu Reeves,actor,John Constantine,1.0
1892400,Thumbsucker,2005,Keanu Reeves,actor,Perry Lyman,17.0
1892388,The Lake House,2006,Keanu Reeves,actor,Alex Wyler,1.0
1892343,A Scanner Darkly,2006,Keanu Reeves,actor,Bob Arctor,4.0
1892382,Street Kings,2008,Keanu Reeves,actor,Detective Tom Ludlow,1.0
1892385,The Day the Earth Stood Still,2008,Keanu Reeves,actor,Klaatu,1.0
1892396,The Private Lives of Pippa Lee,2009,Keanu Reeves,actor,Chris Nadeau,16.0
1892359,Henry's Crime,2010,Keanu Reeves,actor,Henry Torne,1.0
1892342,47 Ronin,2013,Keanu Reeves,actor,Kai,1.0
1892368,Man of Tai Chi,2013,Keanu Reeves,actor,Donaka Mark,2.0
1892361,John Wick,2014,Keanu Reeves,actor,John Wick,1.0
1892366,Knock Knock,2015,Keanu Reeves,actor,Evan,1.0
1892365,Keanu,2016,Keanu Reeves,actor,Keanu,25.0
1892393,The Neon Demon,2016,Keanu Reeves,actor,Hank,8.0
1892353,Exposed (III),2016,Keanu Reeves,actor,Detective Galban,8.0
1892399,The Whole Truth,2016,Keanu Reeves,actor,Ramsey,1.0
1892384,The Bad Batch,2016,Keanu Reeves,actor,The Dream,4.0
1892362,John Wick: Chapter 2,2017,Keanu Reeves,actor,John Wick,1.0
1892401,To the Bone,2017,Keanu Reeves,actor,Dr. Beckham,11.0
1892378,Siberia,2018,Keanu Reeves,actor,Lucas Hill,1.0

# Section I - Q11:
(A) List the total number of actor and actress roles available from 1950 - 1960

(B) List the total number of actor and actress roles available from 2007 - 2017

In [157]:
available_50_60 = cast[(cast['year'] >= 1950) & (cast['year'] <= 1960)]['name'].unique()

In [158]:
len(available_50_60)

55516

In [159]:
available_07_17 = cast[(cast['year'] >= 2007) & (cast['year'] <= 2017)]['name'].unique()

In [160]:
len(available_07_17)

791489

# Section I - Q12:
(A) List the total number of leading roles available from 2000 to present

(B) List the total number of non-leading roles available from 2000 - present (exclude support cast)

(C) List the total number of support\extra-credit roles available from 2000 - present

In [178]:
from_2000_leading =  cast[(cast['n'] > 0) & (cast['year'] > 2000)]
len(from_2000_leading)

1022998

In [172]:
total_from_2000 = cast[cast['year'] > 2000]
len(total_from_2000)

1898485

In [180]:
# Total nunber of non-leading role
len(total_from_2000) - len(from_2000_leading)

875487